<div class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item"><a id="a" title="Accueil" class="nav-link active" aria-current="page"
                                href="{{ path('main_home') }}">Accueil</a></li>
        <li class="nav-item"><a id="a" title="Pourquoi consulter" class="nav-link" href="{{ path('main_pourquoi') }}">Pourquoi
                consulter?</a></li>
        <li class="nav-item"><a id="a" title="Visio-conférence" class="nav-link" href="{{ path('main_visio') }}">Visio-consultation</a>
        </li>
        <li class="nav-item"><a id="a" title="Tarif" class="nav-link" href="{{ path('main_tarif') }}">Séances et
                tarifs</a></li>
        <li class="nav-item"><a id="a" title="Contact" class="nav-link" href="{{ path('main_contact') }}">Contact</a>
        </li>
    </ul>
</div>